{% extends 'layout.html' %} {% block title %}Register - Tickethub{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body p-5">
        <h2 class="card-title text-center mb-4">Buat Akun Baru</h2>
        <form action="{{ url_for('register') }}" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="nama_lengkap" class="form-label">Nama Lengkap</label>
            <input
              type="text"
              class="form-control"
              id="nama_lengkap"
              name="nama_lengkap"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Alamat Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
        <p class="text-center mt-3">
          Sudah punya akun? <a href="{{ url_for('login') }}">Login di sini</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
